<!DOCTYPE html>
<html>
<head>
  <title>TO DO</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
  <link href="todo.css" rel="stylesheet" />
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
</head>
  <body class="container">
    <%= yield%>

   <script type="text/javascript" src="todo.js"></script>
  </body>
</html>